
.Titulo {
 margin-left: 15%;
 padding: 40px;
}
#NuevaSolicitud {
    margin-left: 0px ;
   
}

#NuevaSolicitud {
    margin-right: 5%; 
    margin-left: 5%;
    margin-top: 2%;

}
.modal-80 {
    max-width: 95%;
    max-height: 90%;
}

#firmas {
    
    font-size: 11px;
}