
.Titulo {
 margin-left: 15%;
 padding: 40px;
}
#NuevaSolicitud {
    margin-left: 0px ;
    position: center;
   
}

#NuevaSolicitud {
    margin-right: 2%; 
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    

}
.modal-80 {
    max-width: 95%;
    max-height: 90%;
}

#firmas {
    
    font-size: 11px;
}

.fullscreen-modal {
    max-width: 90%; /* Adjust width as needed */
    margin: 20px auto; /* Center and add vertical margin */
    height: auto; /* Height can be adjusted */
}

.input-container {
    position: relative;
    display: inline-block;
  }
  
  .file-input {
    padding-left: 40px; /* Adjust padding to make room for the icon */
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevents the icon from interfering with file input clicks */
    font-size: 18px;
    color: #999;
  }

  .fontSize {
   
    font-size: 25px;            /* Font size */
    line-height: 1.4;           /* Line height */
    font-family: 'Montserrat', sans-serif; /* Font family */
  }
  
