
.Titulo {
 margin-left: 15%;
 padding: 40px;
}
#NuevaSolicitud {
    margin-left: -50px ;
    display: flex;
}

#NuevaSolicitud {
    margin-right: 5%; 
    margin-left: 5%;

}
.modal-80 {
    max-width: 80%;
    max-height: 90%;
}